@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Inconsolata&family=Poppins:wght@200&family=Raleway:ital,wght@1,500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    margin-top: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Inconsolata', sans-serif;
    height: 100%;
    background-color: #F7F5F2!important;
}

.navbar {
    z-index: 1;
    bottom: 571px;
    top: 0px;
    position: fixed;
    height: 54px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px 16px;
    box-sizing: border-box;
}

.navbar-item {
    padding: 8px 16px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #000;
}

.navbar-item .item {
    background-color: #000;
    float: left;
    text-align: center;
    width: 25%;
    padding: 8px 16px;
    color: #fff;
    font-size: 15px;
}

.navbar-item li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item a {
    border: none;
    font-weight: 400;
    line-height: 23px;
    font-family: 'Inconsolata', sans-serif;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

.item:hover {
    background-color: #DDE0DF;
    color: #000000;
}

/* image */

.go-image {
    text-align: center!important;
    background-image: url("coffeehouse.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 75%;
    filter: grayscale(50%);
}

.spanmiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    line-height: 135px;
    color: #fff
}

.spanleft {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 23px;
    font-size: 15px;
}

.spanright {
    padding: 12px 24px!important;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 23px;
    font-size: 15px;
    color: #fff
}

/* About/menu/where*/

.con {
    font-size: 18px!important;
    color: #000!important;
    filter: grayscale(75%);
    margin-top: 0;
    color: #000!important;
    background-color: #fdf5e6!important;
}

header {
    text-align: center;
}

.size {
    max-width: 700px;
    margin-left: 180px;
    margin-right: 180px
}

.about-p {
    margin-top: 18px;
    margin-bottom: 18px;
    font-family: 'Inconsolata', sans-serif;
    font-style: normal;
    line-height: 27px;
    font-size: 18px;
}

.about-img {
    width: 100%;
    max-width: 1000px;
    filter: grayscale(75%);
    margin-top: 16px;
    width: 100%;
    max-width: 1000px;
    margin-top: 16 px;
    vertical-align: middle;
    border-style: none;
}

.text-use {
    border-left: 6px solid #ccc!important;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0.01em 16px;
    color: #000!important;
    background-color: #f1f1f1!important;
}

.OpenSpan {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.size .find {
    margin-bottom: 18px;
    margin-top: 18px;
    line-height: 27px;
    font-size: 18px
}

.spn {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 18px;
}

.container-div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #F7F5F2;
}

form input {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    display: block;
    border: none;
    width: 100%;
    border: 1px solid #ccc!important;
    padding-left: 8px;
    padding-right: 8px;
}

.formp {
    height: 61px;
    margin-bottom: 18px;
    margin-top: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h5 {
    font-size: 18px;
}

.h5-span {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 4px;
    line-height: 27px;
}

.grey {
    color: #F7F5F2bf;
}

.dark-grey {
    background-color: #616161!important;
    color: #fff !important;
    ;
}

.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}

.padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important;
}

.text-center {
    text-align: center!important;
}

.padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.menu {
    height: 43px;
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-sizing: border-box;
}

.menulist {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menulist:hover {
    background-color: #616161;
    color: #fff !important;
    ;
    cursor: pointer;
}

.box-show {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.tabcontent {
    height: 664px;
    padding: 48px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-sizing: border-box;
}

.tabcontent h5 {
    margin: 10px 0px;
    padding: 0px;
    color: #000;
    text-align: left;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

.tabcontent p {
    color: #A9A8A7;
}

.title {
    margin: 5px;
    margin-bottom: 20;
    color: #616161;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}

.content {
    border-radius: 1px;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    position: static;
    vertical-align: middle;
    display: table-cell;
}

.container {
    height: 100%;
    width: 100%;
    display: table;
    background-color: #FDFDF2;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.message {
    margin: 5px;
    color: #757575;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}

.pbtn {
    color: #fff!important;
    background-color: #000!important;
    font: inherit;
    margin: 0;
    text-transform: none;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.pbtn:hover {
    color: #000!important;
    background-color: #fff!important;
}

footer {
    background: #F1F1F1;
    flex-shrink: 0;
    padding-bottom: 48px;
    padding-top: 48px;
}

footer p {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
}